<h1>user 一覧</h1>

<div>
  <% @users.each do |user| %>
    <div>
      <%= link_to user.name, :controller => "users", :action => "show", :id => user.id%>
      <%= link_to "edit", :controller => "users", :action => "edit", :id => user.id%>
      <%= link_to "delete", :controller => "users", :action => "delete", :id => user.id%>
    </div>
  <% end %>
</div>
