<h1 class="top_title">user 一覧</h1>
<p>
  <%= link_to "user作成", {:controller => "users", :action => "register"}, method: :get %>
</p>

<div>
  <% @users.each do |user| %>
    <div>
      <%= link_to user.name, :controller => "users", :action => "show", :id => user.id%>
      <%= link_to "edit", {:controller => "users", :action => "edit", :id => user.id}, method: :post%>
      <%= link_to "delete", {:controller => "users", :action => "delete", :id => user.id}, method: :post%>
    </div>
  <% end %>
</div>
