<h2>user登録</h2>
<h2>
  <%= link_to "topへ", :controller => "users", :action => "index"  %>
</h2>

<div>
  <%= form_tag("/users/create", :method => :post) do %>
    <input id="register_name_field" name="name" type="text"/>
    <%= submit_tag("登録する") %>
  <% end %>
</div>